<ol class="breadcrumb">
  <li><%= link_to '<i class="fa fa-laptop"></i> Devices'.html_safe, devices_path %></li>
  <li class="active"><%= @device.uuid %></li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <% @sensors.each do |sensor| %>
    <div class="panel panel-default small">
      <div class="panel-heading">
        <h4 class="panel-title"><%= sensor.name %></h4>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="width: 150px;">Vendor</th>
            <td><%= sensor.vendor %></td>
          </tr>
          <tr>
            <th>Sensor type</th>
            <td><samp><%= sensor.sensor_type %></samp></td>
          </tr>
          <tr>
            <th>Version</th>
            <td><%= sensor.version %></td>
          </tr>
          <tr>
            <th>Max range</th>
            <td><%= sensor.max_range %></td>
          </tr>
          <tr>
            <th>Power</th>
            <td><%= sensor.power %> mA</td>
          </tr> 
          <tr>
            <th>Resolution</th>
            <td><%= sensor.resolution %></td>
          </tr>                              
        </tbody>
      </table>
    </div>
  <% end %>
</div>