<ol class="breadcrumb">
  <li><%= link_to '<i class="fa fa-puzzle-piece"></i> Human intelligence tasks'.html_safe, hits_path %></li>
  <li class="active">HIT No. <%= @hit.id %></li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Basic information</h4>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Question</th>
          <td>
            <p class="text-muted">
              <b><i><%= @hit.question %></i></b>
              <ol>
                <% @hit.hit_choices.order("id ASC").each do |hit_choice| %>
                  <li><i><%= hit_choice.description %></i></li>
                <% end %>
              </ol>
            </p>
          </td>
        </tr>
        <tr>
          <th>Status</th>
          <td><%= hit_status_label_type(@hit) %></span></td>
        </tr>
        <tr>
          <th>Crowdsourcer</th>
          <td><%= @hit.account.email %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @hit.description %></td>
        </tr>
        <tr>
          <th>Created at</th>
          <td><%= @hit.created_at %></td>
        </tr>
        <tr>
          <th>Updated at</th>
          <td><%= @hit.updated_at %></td>
        </tr>
        <tr>
          <th style="width: 180px;">Response data types</th>
          <td>
            <table class="table table-bordered" style="width: 300px;">
              <% @hit.sensing_data_types.order(:name).each do |type| %>
                <tr>
                  <td class="narrow-cell"><%= sensing_data_type_icon(type.name).html_safe %></td>
                  <td><%= type.name.underscore.humanize %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>

        <% if @hit.status == HitStatus::PUBLISHED.to_s %>
          <tr>
            <th>Published at</th>
            <td><%= @hit.published_at %></td>
          </tr> 
        <% elsif @hit.status == HitStatus::FINISHED.to_s %>
          <tr>
            <th>Finished at</th>
            <td><%= @hit.finished_at %></td>
          </tr> 
        <% end %>

      </tbody>
    </table>

  </div>
  <% if can? :finish_formulation, @hit %>
    <%= link_to '<i class="fa fa-history"></i> Continue creation process'.html_safe,
              finish_formulation_hit_path(@hit), :class => 'btn btn-default btn-sm' %>
  <% end %>
</div>