<ol class="breadcrumb">
  <li><%= link_to '<i class="fa fa-puzzle-piece"></i> Human intelligence tasks'.html_safe, hits_path %></li>
  <li class="active">New human intelligence task</li>
</ol>

<%= render :partial => "creation_progress", :locals => {:step => 4} %>

<div class="row" style="margin-top: 40px;">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    
    <%= form_for @hit, :url => {:controller => 'hits', :action => 'confirm_step_4'}, :html => { :class => "form", :method => :put } do |f| %>
      <% if @hit.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@hit.errors.count, "error") %> prohibited this human intelligence task from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
            <% @hit.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="form-group well <%= 'has-error' if @hit.errors.messages[:description] %>">
        <%= f.label :description, :class => 'control-label' %>
          <%= f.text_area :description, :rows => 5, :class => 'form-control' %>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <%= link_to '<i class="fa fa-chevron-left"></i> Previous step'.html_safe, step_3_hit_path(@hit), :class => "btn btn-block btn-lg btn-warning" %>
        </div>
        <div class="col-lg-6">
          <%= button_tag(:type => 'submit', :class => "btn btn-block btn-lg btn-primary") do %>
            <i class="fa fa-check"></i> Finish
          <% end %>
        </div>
      </div>
    <% end %>
  
  </div>

  <div class="col-lg-2"></div>
</div>