<%= render :partial => "devise/shared/devise_errors" %>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
            :html => {:class => "form-signin", :method => :put, :role => "form" }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="form-group">
    <%= f.label :password, 'New password' %>
    <%= f.password_field :password, :class => "form-control", :autofocus => true, :placeholder => "New password" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm new password" %>
  </div>  
  <button type="submit" class="btn btn-lg btn-primary btn-block">Change my password</button>
  <div class="shared-links">
    <span class="small">
      <%= render "devise/shared/links" %>
    </span>
  </div>  
<% end %>