<ol class="breadcrumb">
  <li><%= link_to "Open calls", sensing_tasks_path %></li>
  <li><%= link_to @sensing_task.name, sensing_task_path(@sensing_task) %></li>
  <li class="active"> Responses</li>
</ol>
<%= render :partial => "sensing_tasks/side_navigation" %>

<div class="col-lg-9">
  <% if @responses.empty? %>
    <div class="alert alert-info" role="alert">
      There are currently no responses for this open call!
    </div>
  <% else %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Device</th>
          <th>Responded at</th>
          <th>Responded data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @responses.each do |response| %>
          <tr>
            <td><%= response.id %></td>
            <td><%= link_to response.device.uuid, response.device %></td>
            <td><%= response.created_at %></td>
            <td>
              <% response.responded_data_types.each do |type| %>
                <span style="margin-right: 5px;"><%= response_data_type_icon(type).html_safe %></span>
              <% end %>
            </td>
            <td><%= link_to '<i class="fa fa-search"></i> More details'.html_safe, [@sensing_task, response], 'data-no-turbolink' => true, :class => "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate @responses, :previous_label => 'Previous', :next_label => 'Next', :renderer => BootstrapPagination::Rails %>
</div>