<ol class="breadcrumb">
  <li><%= link_to "Sensing tasks", sensing_tasks_path %></li>
  <li><%= link_to @sensing_task.name, sensing_task_path(@sensing_task) %></li>
  <li><%= link_to 'Sensing responses', sensing_responses_sensing_task_path(@sensing_task) %></li>
  <li class="active"> Sensing response <%= @sensing_response.id %></li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <% @sensing_response.sensing_response_items.each do |response_item| %>
    <% if response_item.sensing_response_data_type == 'GeoLocationData' %>
      <%= render :partial => 'sensing_response_items/geo_location_data_response', :locals => { :data => response_item.sensing_response_data }  %>
    <% elsif response_item.sensing_response_data_type == 'LightData' %>
      <%= render :partial => 'sensing_response_items/light_data_response', :locals => { :data => response_item.sensing_response_data }  %>
    <% elsif response_item.sensing_response_data_type == 'MotionData' %>
      <%= render :partial => 'sensing_response_items/motion_data_response', :locals => { :data => response_item.sensing_response_data }  %>
    <% elsif response_item.sensing_response_data_type == 'OrientationData' %>
      <%= render :partial => 'sensing_response_items/orientation_data_response', :locals => { :data => response_item.sensing_response_data }  %>
    <% end %>
  <% end %>
</div>

