<ol class="breadcrumb">
  <li><%= link_to "Sensing tasks", sensing_tasks_path %></li>
  <li class="active"><%= @sensing_task.name %></li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Basic information</h4>
    </div>
    <table class="table table-bordered small">
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= @sensing_task.name %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td><span class="label <%= sensing_status_label_type(@sensing_task) %>"><%= @sensing_task.status %></span></td>
        </tr>
        <tr>
          <th>Crowdsourcer</th>
          <% if @sensing_task.crowdsourcer_type == 'Account' %>
            <td><%= @sensing_task.crowdsourcer.email %></td>
          <% elsif @sensing_task.crowdsourcer_type == 'Device' %>
            <td><%= @sensing_task.crowdsourcer.uuid %></td>
          <% end %>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @sensing_task.description %></td>
        </tr>
        <tr>
          <th>Created at</th>
          <td><%= @sensing_task.created_at %></td>
        </tr>
        <tr>
          <th>Updated at</th>
          <td><%= @sensing_task.updated_at %></td>
        </tr>
        <tr>
          <th style="width: 180px;">Response data types</th>
          <td>
            <table class="table table-bordered" style="width: 300px;">
              <% @sensing_task.sensing_data_types.order(:name).each do |type| %>
                <tr>
                  <td class="narrow-cell"><%= sensing_data_type_icon(type.name).html_safe %></td>
                  <td><%= type.name.underscore.humanize %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>

        <% if @sensing_task.status == SensingTaskStatus::PUBLISHED.to_s %>
          <tr>
            <th>Published at</th>
            <td><%= @sensing_task.published_at %></td>
          </tr> 
        <% elsif @sensing_task.status == SensingTaskStatus::FINISHED.to_s %>
          <tr>
            <th>Finished at</th>
            <td><%= @sensing_task.finished_at %></td>
          </tr> 
        <% end %>

      </tbody>
    </table>

  </div>
</div>