<ol class="breadcrumb">
  <li><%= link_to '<i class="fa fa-puzzle-piece"></i> Human intelligence tasks'.html_safe, human_intelligence_tasks_path %></li>
  <li class="active">New human intelligence task</li>
</ol>

<%= render :partial => "creation_progress", :locals => {:step => 2} %>

<div class="row" style="margin-top: 40px;">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    
    <div class="row" style="margin-bottom: 30px;">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <%= link_to '<i class="fa fa-plus"></i> Create new choice'.html_safe, new_hit_choice_path(:human_intelligence_task_id => @hit.id), :class => "btn btn-lg btn-block btn-default", :remote => true %>
      </div>
      <div class="col-lg-3"></div>
    </div>
    
    <div id="hitChoices">
      <% @hit.hit_choices.each do |choice| %>
        <%= render :partial => "hit_choices/hit_choice_row", :locals => {:hit_choice => choice} %>        
      <% end %>
    </div>


      <div class="row">
        <div class="col-lg-6">
          <%= link_to '<i class="fa fa-chevron-left"></i> Start over'.html_safe, step_1_human_intelligence_tasks_path(:existing_hit_id => @hit.id), :class => 'btn btn-block btn-lg btn-warning' %>
        </div>
        <div class="col-lg-6">
          <%= link_to '<i class="fa fa-chevron-right"></i> Next step'.html_safe, confirm_step_2_human_intelligence_task_path(@hit), :class => "btn btn-block btn-lg btn-primary" %>
        </div>
      </div>
  
  </div>

  <div class="col-lg-2"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="createNewModal" tabindex="-1" role="dialog" aria-labelledby="createNewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createNewModalLabel">HIT choice</h4>
      </div>
      <div class="modal-body" id="createNewModalBody">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->