<ol class="breadcrumb">
  <li class="active"><i class="fa fa-bell"></i> Open calls</li>
</ol>

<div class="row">

  <div class="col-lg-12">

    <% if @open_calls.empty? %>

      <div class="alert alert-info" role="alert">
        There are currently no open call created in CrowdCloud!
      </div>
      <%= link_to '<i class="fa fa-file-text-o"></i> Create new open call'.html_safe,
            new_open_call_path,
          :class => 'btn btn-primary' %>

    <% else %>

      <%= link_to '<i class="fa fa-file-text-o"></i> Create new open call'.html_safe,
              new_open_call_path,
            :class => 'btn btn-primary',
            :style => "margin-bottom: 20px;" %>

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Name</th>
            <th>Crowdsourcer</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @open_calls.each do |open_call| %>
            <tr>
              <td><%= link_to open_call.id, open_call_path(open_call) %></td>
              <td><span class="label <%= status_label_type(open_call) %>"><%= open_call.status %></span></td>
              <td><%= open_call.name %></td>
              <td><%= open_call.account.email %></td>
              <td><%= truncate(open_call.description, :length => 60) %></td>
              <td>
                <%= link_to '<i class="fa fa-cogs"></i> Manage'.html_safe,
                            open_call_path(open_call), :class => 'btn btn-default btn-sm' %>
                <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe,
                            edit_open_call_path(open_call), :class => 'btn btn-default btn-sm' %>
                <%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe,
                            delete_open_call_path(open_call),
                            :class => 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>

    <%= will_paginate @open_calls, :previous_label => 'Previous', :next_label => 'Next', :renderer => BootstrapPagination::Rails %>

  </div>
</div>