<ol class="breadcrumb">
  <li><%= link_to "Open calls", open_calls_path %></li>
  <li class="active"><%= @open_call.name %></li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Device information</h4>
    </div>
    <table class="table table-bordered small">
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= @open_call.name %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td><span class="label <%= status_label_type(@open_call) %>"><%= @open_call.status %></span></td>
        </tr>
        <tr>
          <th>Crowdsourcer</th>
          <td><%= @open_call.account.email %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @open_call.description %></td>
        </tr>
        <tr>
          <th>Created at</th>
          <td><%= @open_call.created_at %></td>
        </tr>
        <tr>
          <th>Updated at</th>
          <td><%= @open_call.updated_at %></td>
        </tr>
        <tr>
          <th style="width: 180px;">Response data types</th>
          <td>
            <table class="table table-bordered" style="width: 300px;">
              <% @open_call.response_data_types.order(:name).each do |type| %>
                <tr>
                  <td class="narrow-cell"><%= response_data_type_icon(type).html_safe %></td>
                  <td><%= type.name.underscore.humanize %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>

        <% if @open_call.status == OpenCallStatus::PUBLISHED.to_s %>
          <tr>
            <th>Published at</th>
            <td><%= @open_call.published_at %></td>
          </tr> 
        <% elsif @open_call.status == OpenCallStatus::FINISHED.to_s %>
          <tr>
            <th>Finished at</th>
            <td><%= @open_call.finished_at %></td>
          </tr> 
        <% end %>

      </tbody>
    </table>

  </div>
</div>